<div style='background-color:white; margin:0px 15px 0px 15px;
 padding:4px; border-radius: 4px;-moz-border-radius: 5px;'>

 <%= link_to 'HelloWorld!', '/hello/world' %> |
 <%= link_to 'Criancas', '/pessoas/criancas' %> |
 <%= link_to 'Adultos', '/pessoas/adultos' %> |
 <%= link_to 'Cidades ', '/cidades'%> |
 <%= link_to 'Estados  ', '/estados'%> |
 <%= link_to 'Paises ', '/paises'%>
 <%=  link_to 'Bairros', '/bairros'%>


</div>